$ErrorActionPreference = 'Stop'

$packageName = 'snapture'
$architecture = if ($env:PROCESSOR_ARCHITEW6432 -eq 'ARM64' -or $env:PROCESSOR_ARCHITECTURE -eq 'ARM64') {
    'arm64'
}
else {
    'x64'
}

$releaseAssets = @{
    x64 = @{
        Url = '__X64_URL__'
        Checksum = '__X64_CHECKSUM__'
    }
    arm64 = @{
        Url = '__ARM64_URL__'
        Checksum = '__ARM64_CHECKSUM__'
    }
}
$asset = $releaseAssets[$architecture]
$installerPath = Join-Path $env:TEMP "$packageName-$env:ChocolateyPackageVersion-$architecture-setup.exe"

Get-ChocolateyWebFile -PackageName $packageName `
    -FileFullPath $installerPath `
    -Url $asset.Url `
    -Checksum $asset.Checksum `
    -ChecksumType 'sha256'

Install-ChocolateyInstallPackage -PackageName $packageName `
    -FileType 'exe' `
    -SilentArgs '--silent' `
    -File $installerPath `
    -ValidExitCodes @(0, 3010, 1641)
